
/* --- 05 CSS ---------------------------------------------- 
----------------------------------------------------------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 30px 0 0 0;

	font-family: Lato, Verdana, sans-serif;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

body {
	padding: 20px;
	
	background-image: url(../img/noisy_grid.png);
	background-repeat: repeat;
}

main {
	max-width: 900px;
	height: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 40px auto 20px;
}

main h1.titulo {
	font-size: 24px;
	color: #999;

	line-height: 35px;

	margin: 0 0 0 5px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

main nav {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

main nav ul {
	width: 100%;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

main nav ul li {
	width: 100px;
	height: 20px;

	list-style: none;
	display: inline-block;

	font-size: 12px;
	text-align: center;
	line-height: 30px;
}

main nav ul li a {
	width: 100%;
	height: 100%;

	text-decoration: none;
	color: #999;

	display: block;

	border-top: 1px solid #999;
}

main nav ul li a:hover{
	border-top: 3px solid #999;

	font-weight: bold;
}

main p.credits {
	font-size: 12px;
	text-align: right;
	color: deepskyblue;

	margin: 5px 5px;

	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

main p.credits a {
	color: inherit;
	text-decoration: none;
}

#contenedor {
	max-width: 900px;
	height: 100%;

	padding: 15px;

	border-radius: 6px;

	grid-column: 1 / 3;
	grid-row: 2 / 3;

	background-color: rgba(0,0,0, 0.65);
}

.caja {
	width: 100%;
	height: 450px;

	padding: 10px;

	background-color: red;
	background-image: url(../img/desierto-img.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;

	border: 2px dashed #fff;

	font-weight: 700;
	color: white;
}

.transicion {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}























