
/* --- 27 CSS ---------------------------------------------- 
----------------------------------------------------------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: Lato, Verdana, sans-serif;
	background-color: #444;
}

ul, li {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

main {
	width: 100%;
	height: 100%;
}

main h1.titulo {
	position: absolute;
	top: 15px;
	left: 15px;

	font-size: 22px;
	color: deepskyblue;

	margin: 0 0 0 5px;
	z-index: 998;
}

main p.credits {
	position: absolute;
	right: 5px;
	bottom: 5px;

	font-size: 12px;
	text-align: right;
	color: deepskyblue;

	margin: 5px 5px;
	z-index: 998;
}

main p.credits a {
	color: inherit;
	text-decoration: none;
}

#btn-izda, #btn-dcha {
	position: absolute;
	display: inline-block;
	z-index: 999;
}

#btn-izda {
	left: 30px;
	top: 45%;
	transform: rotate(180deg);
}

#btn-dcha {
	right: 30px;
	top: 45%;
}

























