
/* --- 28 CSS ---------------------------------------------- 
----------------------------------------------------------- */

/* aplicamos un 'box-model' natural para todos los 
elementos pero permitiendo que puedan cambiar */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	font-family: Lato, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	list-style: none;
}

li {
	width: 100%;
	height: 100%;
}

/* --- bloque acordeón ---------------- 
-------------------------------------*/
.acordeon {
	width: 800px; 
}

.panel {
	margin: 2px;
}

.panel__cabecera {
	background-color: #ddd;
	padding: 10px;
	cursor: pointer; 
}

.panel__contenido {
	background-color: #eee;
	padding: 10px;
	display: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

































