
/* --- 29 CSS ---------------------------------------------- 
----------------------------------------------------------- */

/* aplicamos un 'box-model' natural para todos los 
elementos pero permitiendo que puedan cambiar */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* --------------------------------- fin --- */

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	font-family: Lato, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 800px;
	text-align: justify;
	padding: 40px;
	background-color: deepskyblue;
}

p {
	margin: 0;
	color: #fff;
}

a {
	font-weight: 900;
	color: #000;
}

.tooltip {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0, 0.8);
	border-radius: 6px;
	padding: 8px;
	color: #fff;
	font-size: 0.8em;
}






























