
/* --- Home CSS ----------------------------------------------
----------------------------------------------------------- */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 30px 0 0 0;

	font-family: Lato, Verdana, sans-serif;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

body {
	padding: 20px;
	
	background-image: url(../img/noisy_grid.png);
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

main {
	max-width: 900px;
	height: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 35px auto 20px;
}

main h1.titulo {
	font-size: 24px;
	color: deepskyblue;

	line-height: 35px;

	margin: 0 0 0 5px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

main p.credits {
	font-size: 12px;
	text-align: right;
	color: deepskyblue;

	margin: 5px 5px;

	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

main p.credits a {
	color: inherit;
}

#contenedor {
	width: 100%;
	height: 100%;

	padding: 10px;

	border-radius: 6px;

	grid-column: 1 / 3;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	background-color: rgba(0,191,255,1);
}

.contenido {
	max-width: auto;
	height: auto;

	padding: 15px;

	border: 1px dotted #fff;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto;
}

.cabecera {
	grid-column: 1;
	grid-row: 1 / 2;

	text-align: left;
	color: #fff;

	margin: 0;
	padding: 10px 0 0 20px;
}

.cabecera h2, .cabecera h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.cabecera h3 {
	font-size: 14px;
	font-weight: normal;
	padding-top: 8px;
}

.cabecera h3 a {
	font-weight: bold;
	color: rgba(255,255,255, 0.70);
}

.cabecera h3 a:hover {color: #fff;}

.parrilla {
	grid-column: 1;
	grid-row: 2 / 3;

	padding: 20px;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
}

.capitulo {
	width: 100%;
	height: 100%;

	padding: 5px;  

	font-size: 18px;
	font-weight: 900;
	color: rgba(255,255,255, 0.6);

	border: 1px dashed rgba(255,255,255, 0.70);
	background-color: rgba(255,255,255, 0.20);
}

.capitulo p {
	margin: 0;
	padding: 10px 0 0 0;

	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.capitulo p span {font-style: italic;}

.capitulo:nth-child(-n+5) {
	background-color: gold;
	border: 1px dashed rgba(0,0,255, 0.8);
	color: rgba(0,0,255, 0.8);
}

.capitulo:nth-child(n+6) {
	background-color: blue;
}

.capitulo:nth-child(n+27) {
	background-color: teal;
}

.capitulo:nth-child(n+30) {
	background-color: blue;
}

.capitulo:hover {
	border-color: #fff;
	color: #fff;
}































