
/* --- Main CSS -------------------------------------
--------------------------------------------------- */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 20px 0 0 0;

	font-family: Lato, Verdana, sans-serif;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
body {
	padding: 20px;
	
	background-image: url(../dark_matter.png);
	background-repeat: repeat;
	background-color: cadetblue;
	background-blend-mode: luminosity;
}

/* --- Main */
main {
	max-width: 900px;
	height: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 40px auto 20px;
}
main h1.titulo {
	font-size: 24px;
	color: deepskyblue;

	line-height: 35px;

	margin: 0 0 0 5px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
main p.credits {
	font-size: 12px;
	text-align: right;
	color: deepskyblue;

	margin: 5px 5px;

	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
main p.credits a {
	color: inherit;
	text-decoration: none;
}

/* --- Contenedor */
#contenedor {
	max-width: 900px;
	height: 100%;

	padding: 10px;

	border-radius: 6px;

	grid-column: 1 / 3;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;

	background-color: rgba(0,0,0, 0.65);
}
a {
	text-decoration: none; 
	color: gainsboro;
}

/* --- Columnas */
.columna {
	width: auto;
	min-height: 600px;

	padding: 15px;

	border: 1px dashed deepskyblue;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/* --- Interior columnas */
.itemColumna {
	font-size: 13px;
	color: #999;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.itemColumna h2 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	color: deepskyblue;
}
.itemColumna h3 {
	margin-top: 10px;
	margin-bottom: 5px;

	font-style: italic;
}
.itemColumna p {
	text-align: justify;
}

/* --- ajax */
.ajax {
	width: 100%;
	padding: 1em;
	border: 2px dashed yellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(255,255,255, 0.17);
	color: yellow;
}
.ajax a {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0;
}
.ajax p {color: gainsboro;}

















