<!--social-->
<div class="ajax">	
	<span>social.html</span>
	<a href="http://www.google.es" target="_blank" data-rrss="twitter">
		<img src="logo-twitter.png" alt="twitter">
		<span>Twitter</span>
	</a>
	<a href="http://www.google.es" target="_blank" data-rrss="github">
		<img src="logo-github.png" alt="github">
		<span>Github</span>
	</a>
	<a href="http://www.google.es" target="_blank" data-rrss="instagram">
		<img src="logo-instagram.png" alt="instagram">
		<span>Instagram</span>
	</a>
</div>