
/* --- Main CSS ---------------------------------------------- 
----------------------------------------------------------- */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 20px 0 0 0;

	font-family: Lato, Verdana, sans-serif;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
body {
	padding: 20px;
	
	background-image: url(../noisy_grid.png);
	background-repeat: repeat;
}
main {
	max-width: 900px;
	height: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 40px auto 20px;
}
main h1.titulo {
	font-size: 24px;
	color: #999;

	line-height: 35px;

	margin: 0 0 0 5px;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
main nav {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}
main nav ul {
	width: 100%;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
main nav ul li {
	width: 100px;
	height: 20px;

	margin-right: 5px;

	list-style: none;
	display: inline-block;

	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
main nav ul li:last-of-type {margin-right: 0;}
main nav ul li a {
	width: 100%;
	height: 100%;

	text-decoration: none;
	color: #999;

	display: block;

	border-top: 1px solid #999;
}
main nav ul li a:hover{
	/*color: deepskyblue;*/
	border-top: 3px solid #999;

	font-weight: bold;
}
main p.credits {
	font-size: 12px;
	text-align: right;
	color: deepskyblue;

	margin: 5px 5px;

	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
main p.credits a {
	color: inherit;
	text-decoration: none;
}

/* --- Contenedor */
#contenedor {
	max-width: 900px;
	height: 100%;

	padding: 10px;

	border-radius: 6px;

	grid-column: 1 / 3;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;

	background-color: rgba(0,0,0, 0.65);
}
.columna {
	width: auto;
	min-height: 600px;

	padding: 15px;

	border: 1px dotted #999;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.itemColumna {
	font-size: 13px;
	color: #999;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.itemColumna h2 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}
.itemColumna h3 {
	margin-top: 10px;
	margin-bottom: 5px;

	font-style: italic;
}
.itemColumna p {
	text-align: justify;
}
.itemColumna a {
	text-decoration: none;
	color: #999;
}
.itemColumna a:hover {
	color: #fff;
}
.itemColumna ul.lista {
	margin: 0;
	padding-left: 25px; 
}
.itemColumna .imagenes {
	color: #fff;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 3px;

	margin-top: 3px;
}
.itemColumna .imagen {
	width: auto;
	height: 84px;

	background-color: #999;

	display: flex;
	justify-content: center;
	align-items: center;
}

.uno {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.dos {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.tres {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.cuatro {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.cinco {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.seis {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.siete {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.ocho {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.nueve {
	grid-column: 3 / 4;
	grid-row: 3 /4;
}

/* --- social */
.social {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
}

















